
body {
	margin: 0;
	background-color: #111;
	color: #111;
	text-align: center;

     }


h1 {
	text-align: center;
}

h3 {
}

#main {
	background-color: #efefef;
	display: flex;
	
	flex-direction: column;
	margin: 30px 28px 30px 28px;
	padding: 20px;
	align-items: center;
}
#img-div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

#image {
	max-width: 250px;
	display: block;
	height:auto;
	border-width: 30px;
	border-color: #111;
	border-style: solid;
}

#tribute-info {
	margin: 5%;
	text-align: justify;
}
